In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving clinic-location-data.csv to clinic-location-data.csv
Saving population-data.csv to population-data.csv
Saving cases-administrative-district-ids.csv to cases-administrative-district-ids.csv
Saving virtual_clinic_extract.csv to virtual_clinic_extract.csv
Saving administrative-districts.csv to administrative-districts.csv

In [ ]:
df1 = pd.read_csv('clinic-location-data.csv')
df1.head()

,IK,SN,year,clinic-name,bed,street,city,postal-code,administrative-district-id,I60 sum,I62 sum,I61 sum,I64 sum,I63 sum,I66 sum,I65 sum,I68 sum,I67 sum,I69 sum
0,260914050,0,2018,Klinikum der Universität München,1964,Marchioninistraße 15,München,81377,9162,48,87,149,0,684,4,52,0,357,0
1,260820115,0,2018,Städtisches Klinikum Karlsruhe,1538,Moltkestraße 90,Karlsruhe,76133,8212,55,115,161,0,1209,0,88,0,53,0
2,260531159,771642000,2019,GFO Kliniken Rhein-Berg,233,Vinzenz-Pallotti-Straße 20,Bergisch-Gladbach-Bensberg,51429,5378,1,1,2,1,12,0,2,0,0,0
3,260531159,771643000,2019,GFO Kliniken Rhein-Berg,310,Dr. Robert-Koch-Str. 18,Bergisch Gladbach,51465,5378,5,9,45,0,545,0,3,0,8,0
4,260730387,772574000,2020,Rheinhessen-Fachklinik Alzey,20,Mainzer Straße 57,Bingen,55411,7339,0,0,0,0,0,0,0,0,0,0

In [ ]:
df1.dtypes

IK                             int64
SN                             int64
year                           int64
clinic-name                   object
bed                            int64
street                        object
city                          object
postal-code                    int64
administrative-district-id     int64
I60 sum                        int64
I62 sum                        int64
I61 sum                        int64
I64 sum                        int64
I63 sum                        int64
I66 sum                        int64
I65 sum                        int64
I68 sum                        int64
I67 sum                        int64
I69 sum                        int64
dtype: object

In [ ]:
df1.shape

(7071, 19)

In [ ]:
df1['bed'].value_counts()

0       312
20      203
12      102
15       88
30       85
       ...
679       1
1064      1
1290      1
957       1
532       1
Name: bed, Length: 803, dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7071 entries, 0 to 7070
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IK                          7071 non-null   int64
 1   SN                          7071 non-null   int64
 2   year                        7071 non-null   int64
 3   clinic-name                 7071 non-null   object
 4   bed                         7071 non-null   int64
 5   street                      7071 non-null   object
 6   city                        7071 non-null   object
 7   postal-code                 7071 non-null   int64
 8   administrative-district-id  7071 non-null   int64
 9   I60 sum                     7071 non-null   int64
 10  I62 sum                     7071 non-null   int64
 11  I61 sum                     7071 non-null   int64
 12  I64 sum                     7071 non-null   int64
 13  I63 sum                     7071 non-null   int64
 14  I66 sum                     7071 non-null   int64
 15  I65 sum                     7071 non-null   int64
 16  I68 sum                     7071 non-null   int64
 17  I67 sum                     7071 non-null   int64
 18  I69 sum                     7071 non-null   int64
dtypes: int64(16), object(3)
memory usage: 1.0+ MB

In [ ]:
df1.describe()

,IK,SN,year,bed,postal-code,administrative-district-id,I60 sum,I62 sum,I61 sum,I64 sum,I63 sum,I66 sum,I65 sum,I68 sum,I67 sum,I69 sum
count,7.071000e+03,7.071000e+03,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000,7071.000000
mean,2.649672e+08,6.994040e+08,2019.027436,221.329656,50237.888842,7842.884599,3.924905,3.896903,13.401358,0.843728,107.225286,0.286381,11.091500,0.004526,8.218357,0.777118
std,3.201606e+07,2.259216e+08,0.821621,257.631049,27609.263842,3750.346023,12.584690,14.183132,32.376802,3.345379,224.199074,1.995294,30.647191,0.277352,37.882829,16.848425
min,2.601000e+08,0.000000e+00,2018.000000,0.000000,1067.000000,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.605312e+08,7.714770e+08,2018.000000,48.000000,26316.000000,5368.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.608105e+08,7.722390e+08,2019.000000,150.000000,48324.000000,7335.000000,0.000000,0.000000,1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.609701e+08,7.729735e+08,2020.000000,298.000000,74889.000000,9663.000000,2.000000,2.000000,8.000000,0.000000,79.500000,0.000000,3.000000,0.000000,3.000000,0.000000
max,5.121068e+08,7.737980e+08,2020.000000,3011.000000,99976.000000,16077.000000,159.000000,405.000000,591.000000,80.000000,3085.000000,77.000000,554.000000,20.000000,1273.000000,850.000000

In [ ]:
df1.corr()

,IK,SN,year,bed,postal-code,administrative-district-id,I60 sum,I62 sum,I61 sum,I64 sum,I63 sum,I66 sum,I65 sum,I68 sum,I67 sum,I69 sum
IK,1.000000,-0.009957,0.002349,-0.097119,0.006004,-0.061610,-0.028502,-0.033371,-0.047036,-0.032256,-0.059287,-0.019033,-0.047067,-0.002294,-0.027825,-0.005858
SN,-0.009957,1.000000,0.225054,-0.033908,0.010429,0.046651,-0.002555,-0.025156,0.005653,0.016335,0.003891,0.010781,-0.003734,0.005316,-0.011096,-0.000385
year,0.002349,0.225054,1.000000,-0.024876,-0.016637,0.000418,-0.015190,-0.049692,-0.022889,-0.067653,-0.024565,-0.012990,-0.032236,-0.020407,-0.022105,0.004999
bed,-0.097119,-0.033908,-0.024876,1.000000,-0.032976,0.013803,0.643562,0.621991,0.691286,0.097107,0.697546,0.252603,0.531649,0.012743,0.545607,0.021515
postal-code,0.006004,0.010429,-0.016637,-0.032976,1.000000,0.008695,0.022293,-0.011785,-0.003172,-0.053854,-0.013577,0.003993,-0.020375,-0.003209,-0.014966,-0.010762
administrative-district-id,-0.061610,0.046651,0.000418,0.013803,0.008695,1.000000,-0.012311,0.002299,0.013729,0.037674,0.007051,-0.021628,0.015148,-0.013695,0.003842,0.003992
I60 sum,-0.028502,-0.002555,-0.015190,0.643562,0.022293,-0.012311,1.000000,0.805614,0.869191,0.048493,0.719575,0.380175,0.457099,0.043538,0.690803,0.102120
I62 sum,-0.033371,-0.025156,-0.049692,0.621991,-0.011785,0.002299,0.805614,1.000000,0.795748,0.058425,0.626645,0.309579,0.424743,0.042403,0.629768,0.075505
I61 sum,-0.047036,0.005653,-0.022889,0.691286,-0.003172,0.013729,0.869191,0.795748,1.000000,0.063991,0.877694,0.383187,0.504106,0.151451,0.666477,0.193384
I64 sum,-0.032256,0.016335,-0.067653,0.097107,-0.053854,0.037674,0.048493,0.058425,0.063991,1.000000,0.045556,0.055485,0.075438,0.049544,0.073919,0.065864
I63 sum,-0.059287,0.003891,-0.024565,0.697546,-0.013577,0.007051,0.719575,0.626645,0.877694,0.045556,1.000000,0.340151,0.500616,0.045959,0.552545,0.130114
I66 sum,-0.019033,0.010781,-0.012990,0.252603,0.003993,-0.021628,0.380175,0.309579,0.383187,0.055485,0.340151,1.000000,0.482282,0.294141,0.546924,0.447131
I65 sum,-0.047067,-0.003734,-0.032236,0.531649,-0.020375,0.015148,0.457099,0.424743,0.504106,0.075438,0.500616,0.482282,1.000000,0.156169,0.519839,0.285631
I68 sum,-0.002294,0.005316,-0.020407,0.012743,-0.003209,-0.013695,0.043538,0.042403,0.151451,0.049544,0.045959,0.294141,0.156169,1.000000,0.341784,0.531608
I67 sum,-0.027825,-0.011096,-0.022105,0.545607,-0.014966,0.003842,0.690803,0.629768,0.666477,0.073919,0.552545,0.546924,0.519839,0.341784,1.000000,0.334353
I69 sum,-0.005858,-0.000385,0.004999,0.021515,-0.010762,0.003992,0.102120,0.075505,0.193384,0.065864,0.130114,0.447131,0.285631,0.531608,0.334353,1.000000

In [ ]:
df2 = pd.read_csv('population-data.csv')
df2.head()

   year  administrative-district-id  age-group  population-count
0  2020                       14612          1             11483
1  2020                       14612          2             23242
2  2020                       14612          3             27590
3  2020                       14612          4             24424
4  2020                       14612          5             23777

In [ ]:
df2.dtypes

year                          int64
administrative-district-id    int64
age-group                     int64
population-count              int64
dtype: object

In [ ]:
df2.shape

(24840, 4)

In [ ]:
df3 = pd.read_csv('cases-administrative-district-ids.csv')
df3.head()

   administrative-district-id  year  age-group main-diagnosis code  case sum
0                        3457  2019         13                 I63        31
1                       10046  2020         20                 I61         2
2                        3360  2018         19                 I62         1
3                        8111  2019          8                 I67         3
4                        9272  2019         15                 I63        27

In [ ]:
df4 = pd.read_csv('administrative-districts.csv')
df4.head()

   administrative-district-id administrative-district-name
0                           0                    Unbekannt
1                        1001             Flensburg, Stadt
2                        1002       Kiel, Landeshauptstadt
3                        1003           Lübeck, Hansestadt
4                        1004            Neumünster, Stadt

In [ ]:
df5 = pd.read_csv('virtual_clinic_extract.csv')
df5.head()

          Data Column                                        Description
0         case-number                          Unique mark for each case
1         clinic-name                                 Name of the clinic
2                year                        Year the case was released.
3           age-group  The age-group the patient was in. (see age-gro...
4  icd main-diagnoses                The three digit main diagnosis code

In [ ]:
df = pd.concat([df1,df3])
df

,IK,SN,year,clinic-name,bed,street,city,postal-code,administrative-district-id,I60 sum,...,I64 sum,I63 sum,I66 sum,I65 sum,I68 sum,I67 sum,I69 sum,age-group,main-diagnosis code,case sum
0,260914050.0,0.0,2018,Klinikum der Universität München,1964.0,Marchioninistraße 15,München,81377.0,9162,48.0,...,0.0,684.0,4.0,52.0,0.0,357.0,0.0,NaN,NaN,NaN
1,260820115.0,0.0,2018,Städtisches Klinikum Karlsruhe,1538.0,Moltkestraße 90,Karlsruhe,76133.0,8212,55.0,...,0.0,1209.0,0.0,88.0,0.0,53.0,0.0,NaN,NaN,NaN
2,260531159.0,771642000.0,2019,GFO Kliniken Rhein-Berg,233.0,Vinzenz-Pallotti-Straße 20,Bergisch-Gladbach-Bensberg,51429.0,5378,1.0,...,1.0,12.0,0.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN
3,260531159.0,771643000.0,2019,GFO Kliniken Rhein-Berg,310.0,Dr. Robert-Koch-Str. 18,Bergisch Gladbach,51465.0,5378,5.0,...,0.0,545.0,0.0,3.0,0.0,8.0,0.0,NaN,NaN,NaN
4,260730387.0,772574000.0,2020,Rheinhessen-Fachklinik Alzey,20.0,Mainzer Straße 57,Bingen,55411.0,7339,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79699,NaN,NaN,2020,NaN,NaN,NaN,NaN,NaN,12052,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,I63,33.0
79700,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,7132,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,I64,1.0
79701,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,3151,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,I63,2.0
79702,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,6436,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,I65,5.0
79703,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,8226,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,I61,36.0